* {

	
	margin: 0;
	padding: 0;
    border: 0;
    z-index: 1;
    color: white;
    
	box-sizing: border-box;

}

body {
    
    background-image: url("../images/background_texture.jpg");
	background-color: rgb(38, 34, 32);
	font-family: 'Fjalla One', sans-serif;
	text-shadow: 2px 2px 2px rgba(0, 0, 14, 0.8);
    max-width: 1500px;
    margin: auto;

}

header {
    position: relative;
    /*width: 100%;*/
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

header object {
    position: absolute;
    left: 0;
    top: 30%;
    left:25%;
    width: 50%;
    z-index: 3;
}

img {
    position: relative;
    width: 100%;
    height: auto;
}

.container {
    position: relative;
}


header img {
    position: relative;
    width: 100%;
    height: auto;
    display:block;
}

#menubutton {
    font-size: 4vw;
    position: relative;
    text-align: center;
    left: 0;
    transform: none;
}

h1 {
    font-size: 7vw;
    letter-spacing: .5vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 15%;    
    z-index: 3;
}

h2 {
    font-size: 2.5vw;
}

p {
    font-size: 1.5vw;
}
    



section {
    /*padding: 10px;
    margin: 10px;*/
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    overflow: hidden;

}

.small-column {


    width: 33.3%;
    float: left;
    padding: 20px;
    
}

.medium-column {
    width: 50%;
    float: left;
    padding: 10px;

}

hr.linestyle2 {
    border-top: 2px solid;
    border-bottom: 2px solid;
    color: white;
    height: 10px;
    width: 75%;
    margin: auto;
    left: 50%;

}

hr.linestyle3 {
    border-top: 2px solid;
    border-bottom: 2px solid;
    color: white;
    height: 10px;
    width: 65%;
    margin: auto;
    left: 50%;

}


div.small-column img {
    width: 100%;
    margin: auto;
    

}

div.medium-column iframe {
    width: 100%;
    margin: auto;

    }


.wide-column {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

.centered {
    text-align: center;
}


ul {
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

li {
    padding: 5px;
}

ul.navigation_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(38, 34, 32, 0);
    position: relative;
    z-index:3;
}

ul.navigation_bar li 
{

	float: left;
	
    

}

ul.navigation_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 3vw;
}

ul.navigation_bar li a:hover:not(.active) {background-color: rgba(38, 34, 32, 0.5);}

ul.navigation_bar li a.active {background-color: #4CAF50;}

ul.navigation_bar li.right {float: right; }

@media screen and (max-width: 600px){
    ul.navigation_bar li.right, 
    ul.navigation_bar li {float: none;}
}

@media screen and (max-width: 600px){
    nav{position: relative;}

    h2 {
        font-size: 5vw;
    }
    p {
        font-size: 3vw;
    }

    .small-column {
        width: 100%;
        padding: 20px;


    }
}

/*Reduce the font size on large views*/
@media screen and (min-width: 1080px){

    h2 {

        font-size: 1.8vw;
    }

    p {
        font-size: 1vw;
    }

    ul.navigation_bar li a {
    
    font-size: 2vw;
}

}

footer::before {
    background: black;
    
}

footer {
    background: white;
    height: 100px;
    
    
}

.spacer {
   
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 20px;
    


}



 
.spacer svg {
    position: relative;
    display: block;
    margin: auto;
    with: 100%;
        

}





polygon {
    fill: white;
    stroke: none;

}

footer hr {
    
}

footer img {
    width: 72px;
    z-index: 3;
    
}