* {

	
	margin: 0;
	padding: 0;
    border: 0;
    z-index: 1;
    color: white;
    
	box-sizing: border-box;

}

body {

	background-color: rgb(38, 34, 32);
	font-family: 'Fjalla One', sans-serif;
	text-shadow: 2px 2px 2px rgba(0, 0, 14, 0.8);
    max-width: 1500px;
    margin: auto;

}






header {
    position: relative;
    /*width: 100%;*/
    height: auto;
}

img {
    position: relative;
    width: 100%;
    height: auto;
}

header img {
    position: relative;
    width: 100%;
    height: auto;
}

h1 {
    font-size: 2.5vw;
}

p {
    font-size: 1.5vw;
}
    



section {
    /*padding: 10px;
    margin: 10px;*/
    box-sizing: content-box;

}

.small-column {


    width: 33.3%;
    float: left;
    padding: 10px;
    


}

div.small-column img {
    width: 100%;
    margin: auto;
    

}




ul.navigation_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(38, 34, 32, 0);
    position: relative;
    z-index:3;
}

ul.navigation_bar li 
{

	float: left;
	font-size: large;
    

}

ul.navigation_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navigation_bar li a:hover:not(.active) {background-color: rgba(38, 34, 32, 0.5);}

ul.navigation_bar li a.active {background-color: #4CAF50;}

ul.navigation_bar li.right {float: right; }

@media screen and (max-width: 600px){
    ul.navigation_bar li.right, 
    ul.navigation_bar li {float: none;}
}

@media screen and (max-width: 600px){
    nav{position: relative;}
}